name: Daily Dependency Update and Test

# CINTENT >> MANUAL TRIGGER
# on:
#   workflow_dispatch:
#   schedule:
#     - cron: '0 8 * * *'  # Runs at 08:00 UTC every day
on: [repository_dispatch, workflow_dispatch]

jobs:
  update-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: 'main'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      
      # CINTENT >> INSERT_CINTENT
      - uses: JavidDitty/setup-cintent@3e5b2faf83a2ad32c22a1cd0f86f5f20ea53a5ab

      - name: Install pip tools
        run: python -m pip install --upgrade pip setuptools wheel

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install dependencies
        run: poetry install

      - name: Update dependencies
        run: poetry update

      - name: Run unit tests
        run: poetry run test

      # CINTENT >> INSERT_CINTENT
      - name: Upload CIntent Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.CINTENT_ARTIFACT_NAME }}
          path: ${{ env.CINTENT_LOGS }}
